@font-face{
    font-family: 'Helvetica';
    font-weight: 700;
    src: url('fonts/Helvetica-Bold.woff2') format('woff2');
}
@font-face{
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 16px;
    src: url('fonts/helvetica-light-587ebe5a59211.woff2') format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    src: url('fonts/PlayfairDisplay-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    src: url('fonts/PlayfairDisplay-Regular.woff2');
}

:root {
--h1: bold 48px 'Playfair Display';

--h2: bold 32px 'Helvetica';

--h3: normal 24px 'Playfair Display';
    
--h4primary: 24px 'Playfair Display'; 

--h4secondary: 24px 'Helvetica';

--paragraph: light 30px 'Helvetica';

--sub: 30px 'Helvetica light';

--header: #1E1E1E;

--footer: #FFF;

--hover: #04419B;
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

h4 {
    font: var(--h4primary);
}

p {
    font: var(--paragraph);
}

.sub {
    font: var(--sub);
}

header {
    background-color: var(--header);
}






/* FOOTER ICI */

footer {
    margin-top:64px;
    padding: 64px 64px 64px 64px;
    background-color: white;
}

footer nav {
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: 400;
    display:flex;
    justify-content:space-between;
    gap:64px;
    flex-wrap: wrap;
}

footer nav div {
    flex:1;
    min-width:150px;
}

.colonne0{
    display:flex;
    flex-direction:column;
    gap:16px;
}

footer h3 {
    font-family: 'Helvetica';
    font-size: 22px;
    font-weight: 700;
    margin-bottom:32px;
}

footer a {
    text-decoration: none;
    color:black;
}

footer li {
    text-decoration: none;
    color:black;
    margin-bottom:16px;
}
footer a:hover {
    text-decoration: underline;
}
  
footer a:active {
    text-decoration: underline;
}

footer a secondary-cta {
    flex-direction: column;
    padding-top: 64px;
}

.main-logo{
    font-family: 'Playfair Display';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

/* BOUTTONS */
.main-cta {
    padding: 10px 16px;
    margin-right: 16px;
    background-color: var(--hover);
    border-radius: 8px;
    color:white;
    text-decoration: none;
    font-family:Helvetica;
    font-weight:700;
    font-size:18px;
    line-height:150%;
}
.transparent-cta {
    padding:10px 16px;
    border-radius:8px;
    color:white;
    text-decoration: none;
    font-family: Helvetica;
    font-weight:400px;
    border: 2px solid var(--footer)
}

.secondary-cta {
    padding: 10px 16px;
    border-radius: 8px;
    color:black;
    text-decoration: none;
    font-weight:400;
    line-height: 150%;
    border: 2px solid black;
    font-family: Helvetica;
}

.white-cta {
    padding: 10px 16px;
    margin-left: 64px;
    background-color: white ;
    border-radius: 8px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family:Helvetica;
    font-weight:500;
    font-size:18px;
    line-height:150%;
}